CS_VM_HOSTNAME="mccx-centos7-selinux"
CS_BOOTSTRAP_USER="bootstrap"
CS_BOOTSTRAP_KEY_PATH="<<BOOTSTRAP_KEY_PATH>>"
CS_SERVICE_OFFERING_NAME="employee-tiny"
CS_TEMPLATE_NAME="Centos7-x86_64-Sbp_cis-XenServer-2015-37"
CS_NETWORK_NAME="<<NETWORK_NAME>>"
CS_ZONE_NAME="BETA-SBP-DC-1"
CS_API_HOST="betacloud.mccx.schubergphilis.com"
CS_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
CS_SECRET_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
CS_PUBLIC_ADDRESS="<<PUBLIC_IP_ADDRESS>>"
CS_PUBLIC_PORT="11111"
CS_FIREWALL_OPEN_TO_CIDR="<<HOME_OR_OFFICE_CIDR>>/32"
